Binaries/
Intermediate/
Saved/
/OSVRUnreal/Plugins/OSVR/ThirdParty/OSVRClientKit/Binaries
/OSVRUnreal/Plugins/OSVR/ThirdParty/OSVRClientKit/include
/OSVRUnreal/Plugins/OSVR/ThirdParty/OSVRClientKit/lib
/OSVRUnreal/Plugins/OSVR/ThirdParty/OSVRClientKit/*.txt
