Binaries/
Intermediate/
Saved/
/OSVRUnreal/Config/DefaultGame.ini
/OSVRUnreal/Build/
/OSVRUnreal/Plugins/OSVR/Source/OSVRClientKit/bin/
/OSVRUnreal/Plugins/OSVR/Source/OSVRClientKit/include/
/OSVRUnreal/Plugins/OSVR/Source/OSVRClientKit/lib/
/OSVRUnreal/Plugins/OSVR/Source/OSVRClientKit/*.txt
/OSVRUnreal/Plugins/OSVR/Source/OSVRRenderManager/bin/
/OSVRUnreal/Plugins/OSVR/Source/OSVRRenderManager/include/
/OSVRUnreal/Plugins/OSVR/Source/OSVRRenderManager/lib/
/OSVRUnreal/Plugins/OSVR/Source/OSVRRenderManager/*.txt
/OSVRUnreal/DerivedDataCache/
/OSVRUnreal/.vs/
*.opensdf
*.sdf
*.sln
*.suo
*.opendb
*.db
